@model Dealeron.SalesTax.Models.ReceiptViewModel

@{
    ViewBag.Title = "Receipt";
}

<div class="container">
    <div class="col-lg-10 col-md-10 col-sm-10 content-area" style="margin-top:50px">
        @if (Model.PurchasedItems.Count == 0)
        {
            <p class="order-text">You have not scanned any item. Please go back and scan items at your basket. </p>

            @Html.ActionLink(Dealeron.SalesTax.Resources.Resource.GoBack, "New");
        }
        else
        {
            <h3><strong>Receipt</strong></h3>
            <hr />
            foreach (Dealeron.SalesTax.Models.PurchasedItem item in Model.PurchasedItems)
            {
                <div class="row">
                    <div class="col-md-6"><p class="order-text">@item.Description: </p></div>
                    <div class="col-md-6"><p class="order-text"> <span class="order-data pull-right">@item.TotalUnitPrice @(item.Quantity > 1 ? "(" + item.Quantity + " @ " + item.TotalUnitPrice/item.Quantity + ")" : "")</span> </p></div>
                </div>
            }
            <div class="row">
                <div class="col-md-6"><p class="order-text">Sales Taxes:  </p></div>
                <div class="col-md-6"><p class="order-text"> <span class="order-data pull-right">@Model.TotalTaxAmount</span> </p></div>
            </div>
            <div class="row">
                <div class="col-md-6"><p class="order-text">Total:  </p></div>
                <div class="col-md-6"><p class="order-text"> <span class="order-data pull-right">@Model.TotalAmount</span> </p></div>
            </div>
        }
       
    </div>
</div>

